
     /* offer section*/
     .offer-item{
        width: 32%;
        margin-bottom: 2%;
        border: 1px solid var(--gry-8Color);
        padding: 30px 15px 30px 70px;
        position: relative;
     }
     .offer-item i {
         position: absolute;
         color:var(--mainColor);
         top:30px;
         left:15px;
     }
     .offer-item-title{
         margin-bottom: 15px;
         transition: color 0.5s;
     }
       .offer-item:hover .offer-item-title{
           color:var(--whaitColor);
       }

     .offer-item-desc{
        line-height: 1.6;
        color: rgb(177, 177, 177);
     }